<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <title>Hello, world!</title>
<style>
   nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }
        a.active,
        a:hover {
            background: #1b9bff;
            transition: .5s;
        }

</style>
  </head>
  <body>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="admin_home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin_add_jobseekar">Add Jobseeker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="alljob">Active Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="oldjob">Old job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="all">Total Jobseekar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin_logout">Logout</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Jobseekers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>Member</li>
            <li><a class="dropdown-item" href="all_jobseekers">All User</a></li>
            <li><a class="dropdown-item" href="pending">Pending</a></li>
            <li><a class="dropdown-item" href="rejected">Rejected</a></li>
            <li><a class="dropdown-item" href="accepted">Accepted</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>Not A Member</li>
            <li><a class="dropdown-item" href="all_jobseekers1">All User</a></li>
            <li><a class="dropdown-item" href="pending1">Pending</a></li>
            <li><a class="dropdown-item" href="rejected1">Rejected</a></li>
            <li><a class="dropdown-item" href="accepted1">Accepted</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% block middle %}

{% endblock %}
  </body>
</html>