{% extends 'coaching/admin_home.html' %}
{% block middle %}
<body>
    <div class="conatiner-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-primary">Total Jobseekers {{all}}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-2">
                <div><img src="/static/logo/python.png" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    Python    {{python}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/java.png" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class='text-primary fw-light'>
                    Java {{java}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/asp.png" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    .NET {{net}}
                </div>

            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/nodejs.png" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">NodeJs:{{nodejs}}</div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/php.png" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    PHP {{php}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/datascience.jpg" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    DataScience {{datascience}}
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <div>
                    <img src="/static/logo/mern.jpg" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    Mernstack {{mernstack}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/angularjs.jpg" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    Angular {{angular}}
                </div>
            </div>

            <div class="col-2">
                <div>
                    <img src="/static/logo/cloudcomputing.png" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    Cloud Computing {{cloud}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/cyber.jpg" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    Cyber Security {{cyber}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/blockchain.jpg" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    Block Chain {{bl}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/iot.png" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    IOT {{iot}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div>
                    <img src="/static/logo/c.png" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    C & C++ {{c}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/webdesign.jpg" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    Web Design {{web}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/reactjs.png" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    React Js {{reactjs}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/android.jpg" alt="" class="img-thumbnail" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    Android/IOS {{android}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/testing.jpg" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    Software Testing {{testing}}
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img src="/static/logo/database.png" class="img-thumbnail" alt="" height="100" width="100">
                </div>
                <div class="text-primary fw-light">
                    Database {{database}}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}