{% extends 'coaching/jobseekerhomelayout.html' %}
{% block middle %}
<script>
    function check(){
        if (document.changepassword.npassword.value!=document.changepassword.ncpassword.value)
        {
            alert("New password and Confirm new password does'nt match")
            document.changepassword.ncpassword.focus();
            return false;
        }
        return true;
    }
</script>
</head>
<body>
    <div class="contaner-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="text-center">Change password</h1>
                <form action="" method="post" name="changepassword" onsubmit="return check()">
                    {% csrf_token %}
                    <label for="">Curent Password</label>
                    <input type="text" class="form-control" name="cpassword" id="" required>
                    <label for="">New Password</label>
                    <input type="text" class="form-control" name="npassword" required>
                    <label for="">Confirm Password</label>
                    <input type="text" class="form-control" name="ncpassword" required>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            
            </div>
        </div>
    </div>
        {% if key == 'yes' %}
    <script>
        alert("Password changed succesfully..")
        window.location=('{% url "jobseekerlogin" %}')
    </script>
    {% endif %}
    {% if key == 'no' %}
    <script>
        alert("Your current password is incorrect")
    </script>
    {% endif %}
{% endblock %}