{% extends 'coaching/jobseekerhomelayout.html' %}
{% block middle %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6">
                {% for i in key %}
                <table class="table" border="3px solid black" mt="5px">
                    <tr><td class="text-center"><img src="/media/{{i.logo}}" height="100" width="100" /> </td></tr>
                    <tr>
                        <td>Job Title</td>
                        <td>{{i.job_title}}</td>
                    </tr>
                    <tr>
                        <td>Job Detail</td>
                        <td>{{i.job_detail}}</td>
                    </tr>
                    <tr>
                        <td>Salary</td>
                        <td>{{i.salary}}</td>
                    </tr>
                    <tr>
                        <td>Education</td>
                        <td>{{i.education}}</td>
                    </tr>
                    <tr>
                        <td>Experience</td>
                        <td>{{i.experience}}</td>
                    </tr>
                    <tr>
                        <td>Vacancy</td>
                    <td>{{i.vacancy}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{i.city}}</td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td>{{i.company}}</td>
                    </tr>
                    <tr>
                        <td>Hr Email</td>
                        <td>{{i.hr_email}}</td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td>{{i.start_date}}</td>
                    </tr>
                    <tr>
                        <td>End Date</td>
                        <td>{{i.end_date}}</td>
                    </tr>
                    <tr><td><a href="{% url 'applied' i.id %}">Have you applied?</a></td></tr>
                </table>
                {% endfor %}
    
{% endblock %}